.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.formContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  height: 400px;
  width: 400px;
}

h1 {
  color: black;
}


.firstrowForm{
  height: 30%;
  width: 100%;
  color: black;
}

.newList{
  
  height: 30%;
  width: 100%;
  color: red;}

.existingList{
  height: 30%;
  width: 100%;
  color: red;}

.secondrowForm{
  height: 30%;
  width: 100%;
  color: red;
}

.typeTODO{
  height: 30%;
  width: 100%;
  color: red;}

.recurringMenu{
  height: 30%;
  width: 100%;
  color: red;}

.thirdrowForm{
  height: 30%;
  width: 100%;
  color: red;
}

.addButton{
  height: 30%;
  width: 100%;
  color: red;}

.timeFrameList{
  height: 30%;
  width: 100%;
  color: red;
}

.addBTN {
  margin: auto;
  width: 250px;
}